[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
googlemaps = "*"
python-dotenv = "*"
psycopg2-binary = "*"
dj-database-url = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
server = "python manage.py runserver"
